/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  max-width: 100vw;

}

/* pdf */

.leftPane {
  flex: 2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.rightPane {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)
}

.document {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/*chat */

.Chat {
  width: 100%;
  min-height: 100vh;
  background-image: url("./components/img/whatsappBg.jpg");
  background-attachment: fixed;
  background-color: #e5ddd5; 
  color: #4a4a4a; 
  padding-top: 60px;
}

/* navbar */
.nav-bar {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #075e54; 
  color: #ffffff; 
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.sign-in {
  border: none;
  background-color: transparent;
}
.sign-in > img {
  height: 30px;
  width: auto;
}
.sign-out {
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff; 
  border: 1px solid #075e54; 
  background-color: #25d366; 
  font-weight: 600;
}

/* welcome page */
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ece5dd; 
  /* background-image: url("./components/img/bg.jpg");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  color: #075e54; 
}

.welcome-content {
  background: rgba(255, 255, 255, 0.85); 
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.welcome h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.welcome img {
  margin-bottom: 20px;
}

.welcome p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #128c7e;
}

/* chat component */
.messages-wrapper {
  padding: 30px;
  margin-bottom: 60px;
}
.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  background-color: #ffffff; 
  color: #303030; 
  width: max-content;
  max-width: calc(100% - 50px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: #dcf8c6; 
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #075e54; 
}
.user-message {
  word-break: break-all;
}
.message-time {
  display: block;
  text-align: right;
  color: #999999; 
}

/* send message */
.send-message {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 30px;
  background-color: #ffffff;
  display: flex;
}
.send-message > input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #dddddd; 
  flex-grow: 1;
  background-color: #f1f1f1; 
  color: #303030; 
  font-size: 1rem;
}
.send-message > input:placeholder {
  color: #999999; 
}
.send-message > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #075e54; 
}
.send-message > button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: #ffffff; 
  border: 1px solid #075e54; 
  background-color: #25d366; 
  font-weight: 600;
}




/* Loader */

.container {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}


/* flip card */


.flip-card {
  perspective: 1000px; 
}


.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
}


.flip-card-back {
  transform: rotateY(180deg);
}


/* scrollbar */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* For Internet Explorer, Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}